<div class="container">
  <div class="row">
    <h1 id="title">Front End Interview Question</h1>
  </div>

  <!--<div class="row">-->
    <!--<div class="btn-group btn-group-justified">-->
        <!--<a href="javascript:void(0)" class="btn btn-default">HTML</a>-->
        <!--<a href="javascript:void(0)" class="btn btn-default">CSS</a>-->
        <!--<a href="javascript:void(0)" class="btn btn-default">Javascript</a>-->
    <!--</div>-->
  <!--</div>-->

  <div class="row">
    {{outlet}}
  </div>
</div>
